<canvas id="myCanvas"></canvas>

<div id="stage">
  <div id="rotate">
    <div class="container" [@openClose]="isOpen ? 'open' : 'closed'" (@openClose.done)="onDone()">
      <!-- <img class="transformed" id="poster1" src='https://cdn.iconscout.com/icon/free/png-256/clover-2123947-1791420.png'>
      <img class="transformed" id="poster2" src='/assets/img/desert.png'>
      <img class="transformed" id="poster3" src='/assets/img/fuji.png'>
      <img class="transformed" id="poster4" src='/assets/img/beach.png'>
      <img class="transformed" id="poster5" src='/assets/img/aurora.png'> -->

      <div class="transformed" id="poster1">
        <p>0</p>
      </div>
      <div class="transformed" id="poster2">
        <p>1</p>
      </div>
      <div class="transformed" id="poster3">
        <p>2</p>
      </div>
      <div class="transformed" id="poster4">
        <p>3</p>
      </div>
      <div class="transformed" id="poster5">
        <p>4</p>
      </div>
    </div>
    <div class="container" [@rotate]="rotationState" (@rotate.done)="onRotationDone()">
      <img class="transformed" id="poster1" src='https://cdn.iconscout.com/icon/free/png-256/clover-2123947-1791420.png'>
      <img class="transformed" id="poster2" src='/assets/img/desert.png'>
      <img class="transformed" id="poster3" src='/assets/img/fuji.png'>
      <img class="transformed" id="poster4" src='/assets/img/beach.png'>
      <img class="transformed" id="poster5" src='/assets/img/aurora.png'>

      <!-- <div class="transformed" id="poster1">
        <p>0</p>
      </div>
      <div class="transformed" id="poster2">
        <p>1</p>
      </div>
      <div class="transformed" id="poster3">
        <p>2</p>
      </div>
      <div class="transformed" id="poster4">
        <p>3</p>
      </div>
      <div class="transformed" id="poster5">
        <p>4</p>
      </div> -->
    </div>
  </div>
</div>

<nav>
  <button type="button" (click)="toggle()">Toggle Open/Close</button>
</nav>

<div class="slider-container">
  <div class="slider">
    <span style="--i:1"><img src="/assets/img/aurora.png"></span>
    <span style="--i:2"><img src="/assets/img/beach.png"></span>
    <span style="--i:3"><img src="/assets/img/blue-building.png"></span>
    <span style="--i:4"><img src="/assets/img/colorful-umbrella.png"></span>
    <span style="--i:5"><img src="/assets/img/desert.png"></span>
    <span style="--i:6"><img src="/assets/img/fuji.png"></span>
    <span style="--i:7"><img src="/assets/img/parrot-attack.png"></span>
    <span style="--i:8"><img src="/assets/img/person.png"></span>
  </div>
</div>
