<!-- rotating slider https://www.youtube.com/watch?v=JmNcErI30Ec combined with http://css3.bradshawenterprises.com/flip/  for the backfaces -->
<div class="slider-container">
    <div class="slider">
      <span style="--i:1" class="back face center"><img src="/assets/img/landscape/aurora.png"></span>
      <span style="--i:1; backface-visibility:hidden"><img src="/assets/img/landscape/aurora.png"></span>
      <span style="--i:2" class="back face center"><img src="/assets/img/landscape/beach.png"></span>
      <span style="--i:2; backface-visibility:hidden"><img src="/assets/img/landscape/beach.png"></span>
      <span style="--i:3" class="back face center"><img src="/assets/img/landscape/blue-building.png"></span>
      <span style="--i:3; backface-visibility:hidden"><img src="/assets/img/landscape/blue-building.png"></span>
      <span style="--i:4" class="back face center"><img src="/assets/img/landscape/colorful-umbrella.png"></span>
      <span style="--i:4; backface-visibility:hidden"><img src="/assets/img/landscape/colorful-umbrella.png"></span>
      <span style="--i:5" class="back face center"><img src="/assets/img/landscape/desert.png"></span>
      <span style="--i:5; backface-visibility:hidden"><img src="/assets/img/landscape/desert.png"></span>
      <span style="--i:6" class="back face center"><img src="/assets/img/landscape/fuji.png"></span>
      <span style="--i:6; backface-visibility:hidden"><img src="/assets/img/landscape/fuji.png"></span>
      <span style="--i:7" class="back face center"><img src="/assets/img/landscape/parrot-attack.png"></span>
      <span style="--i:7; backface-visibility:hidden"><img src="/assets/img/landscape/parrot-attack.png"></span>
      <span style="--i:8" class="back face center"><img src="/assets/img/landscape/person.png"></span>
      <span style="--i:8; backface-visibility:hidden"><img src="/assets/img/landscape/person.png"></span>
    </div>
</div>
